html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; }

.home-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 3fr 2fr;
  background: url(/images/cinema.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 0 top -30px; }

.home-content {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }

.home-content h1 {
  color: white;
  font-size: 85px; }

.home-content a {
  text-decoration: none;
  background-color: white;
  color: #679DAD;
  padding: 0px 25px;
  border-radius: 25px;
  width: 150px;
  text-align: center;
  box-shadow: 1px 2px 3px 2px #111; }

.home-content a:hover {
  box-shadow: 1px 2px 3px 4px #111; }

.movies-container {
  background-color: #eee; }

.movies-title {
  padding: 20px 30px 0 40px; }

.movies-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px; }

.movies-card {
  flex: 0 0 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0 30px 0;
  padding: 10px 0; }

.iron-btn {
  position: relative;
  background: none;
  color: #333;
  text-transform: uppercase;
  text-decoration: none;
  border: 0.2em solid #333;
  padding: 0.5em 1em;
  border-radius: 5px; }
  .iron-btn::before {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #eee;
    height: 0.3em;
    right: 20%;
    top: -0.21em;
    transform: skewX(-45deg);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1); }
  .iron-btn::after {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #eee;
    height: 0.3em;
    left: 20%;
    bottom: -0.25em;
    transform: skewX(45deg);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1); }
  .iron-btn:hover::before {
    right: 80%; }
  .iron-btn:hover::after {
    left: 80%; }

.detailed-page-container {
  background-color: #eee;
  height: 100vh; }

.detailed-btn-wrapper {
  padding: 30px; }

.detailed-dynamic-container {
  display: flex;
  padding: 0 30px; }

.detailed-content-wrapper {
  padding-left: 30px; }

.cinema-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background: #fff;
  border-radius: 999px; }
  .cinema-btn:hover {
    animation: burn 1000ms ease-out forwards; }
    .cinema-btn:hover::before {
      content: '';
      position: absolute;
      left: 40px;
      width: 100px;
      height: 40px;
      background: #ffe66e;
      border-radius: 100%;
      animation: flare 1000ms ease-out forwards; }
    .cinema-btn:hover::after {
      content: '';
      position: absolute;
      right: 40px;
      width: 100px;
      height: 40px;
      background: #ffe66e;
      border-radius: 100%;
      animation: flare 1000ms ease-out forwards; }

@keyframes flare {
  100% {
    transform: translateY(-20px) scale(1.5);
    filter: blur(10px);
    opacity: 0; } }

@keyframes burn {
  0% {
    color: #ff826e;
    background: #ffe66e;
    box-shadow: 0 0 5px 0 #c8000a, 0 0 5px 0 rgba(230, 30, 10, 0.8), 0 0 5px 0 rgba(230, 230, 10, 0.6); }
  100% {
    color: black;
    background: white;
    box-shadow: 0 -35px 40px 30px rgba(255, 130, 10, 0), 0 -30px 30px 10px rgba(230, 30, 10, 0), 0 -20px 10px 0 rgba(255, 255, 10, 0); } }

/*# sourceMappingURL=style.css.map */