<div class="movies-container">
  <div class="movies-title">
    <h1>Ironhack Cinema</h1>
    <h3>Click on the movie to check the showtimes!</h3>
  </div>

  <div class="movies-card-wrapper">

    {{#each allTheMovies}}
      <div class="movies-card">
        <img src="{{this.image}}" alt="">
        <h4>{{this.title}}</h4>
        <a href="/movies/{{this._id}}" class="iron-btn">See more</a>
      </div>
    {{/each}}

</div>
</div>